* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title-principal {
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 5px;
  font-size: 4rem;
  padding-left: 20px;
}

.header-movimientos {
  display: flex;
  gap: 5px;
  margin-right: 20px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  position: Relative;
  background-color: rgb(50, 47, 47);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: rgb(50, 47, 47) 12px solid;
  border-radius: 13px;
}

.container-tablero {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.container-border {
  border: rgb(14, 13, 13) 10px solid;
  border-radius: 15px;
  background-color: rgb(14, 13, 13);
}

.box {
  position: absolute;
  background-color: aqua;
  width: 25%;
  height: 25%;
  border: 5px solid rgb(50, 47, 47);
  border-radius: 10px;
  box-shadow: inset 0px 0px 32px 31px rgba(50, 50, 50, 0.1);
  transition: all 0.2s;
  overflow: hidden;

  > span {
    color: rgb(93, 93, 98);
    font-weight: 600;
    position: absolute;
  }

  > img {
    position: absolute;
  }
}
